.switch-container {
  position: relative;

  input[type='checkbox'].switch {
    position: absolute;
    opacity: 0;
  }

  input[type='checkbox'].switch + div {
    vertical-align: middle;
    width: 40px;
    height: 20px;
    border-radius: 999px;
    background-color: #358c65;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-transition-property: background-color, box-shadow;
    transition-property: background-color, box-shadow;
    cursor: pointer;
  }

  input[type='checkbox'].switch + div span {
    position: absolute;
    font-size: 15px;
    text-align: center;
    margin-top: 5px;
  }

  input[type='checkbox'].switch + div span:nth-child(1) {
    margin-left: 15px;
  }

  input[type='checkbox'].switch + div span:nth-child(2) {
    margin-left: 55px;
  }

  input[type='checkbox'].switch:checked + div {
    width: 60px;
    background-position: 0 0;
    background-color: transparent;
    border: 0.8px solid #358c65;
  }

  input[type='checkbox'].switch + div {
    width: 60px;
    height: 25px;
  }

  input[type='checkbox'].switch + div > div {
    position: absolute;
    z-index: 1000;
    float: left;
    width: 20px;
    height: 20px;
    border-radius: inherit;
    background: #ffffff;
    -webkit-transition-timing-function: cubic-bezier(1, 0, 0, 1);
    transition-timing-function: cubic-bezier(1, 0, 0, 1);
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-transition-property: transform, background-color;
    transition-property: transform, background-color;
    pointer-events: none;
    margin-left: 3px;
    margin-top: 2px;
  }

  input[type='checkbox'].switch:checked + div > div {
    -webkit-transform: translate3d(20px, 0, 0);
    transform: translate3d(20px, 0, 0);
    background-color: #358c65;
  }

  input[type='checkbox'].bigswitch.switch + div > div {
    width: 44px;
    height: 44px;
    margin-top: 1px;
  }

  input[type='checkbox'].switch:checked + div > div {
    -webkit-transform: translate3d(46px, 0, 0);
    transform: translate3d(32px, 0, 0);
  }

  span {
    margin: 0 8px;
  }

  label {
    margin-bottom: 0px;
    vertical-align: sub;
  }
}

.wrg-toggle-check,
.wrg-toggle-uncheck {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  opacity: 0;
  transition: opacity 0.25s ease;
  font-size: 16px;
}
.wrg-toggle-check {
  opacity: 1;
  left: -3px;
  color: #f0c418;
}
.wrg-toggle-uncheck {
  opacity: 1;
  left: 22px;
  color: #ffd65c;
  font-size: 17px !important;
  margin-top: 4px !important;
}

.wrg-toggle-uncheck span,
.wrg-toggle-check span {
  align-items: center;
  display: flex;
  height: 10px;
  justify-content: center;
  position: relative;
  width: 10px;
  font-size: 16px;
}

.wrg-toggle-container {
  width: 50px;
  height: 24px;
  padding: 0;
  border-radius: 30px;
  background-color: #4d4d4d;
  transition: all 0.2s ease;
}

.wrg-toggle-circle {
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  position: absolute;
  top: 1px;
  left: 1px;
  width: 22px;
  height: 22px;
  border: 1px solid #4d4d4d;
  border-radius: 50%;
  background-color: #fafafa;
  box-sizing: border-box;
  transition: all 0.25s ease;
}

label {
  margin-bottom: 0px;
  vertical-align: sub;
}
